body {
    background: #083B4C;
}

.box {
    width: calc((100% / 7) - 14px);
    aspect-ratio: 1;
    background: #1389B2;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.bg_green {
    background: #0CD6A1;
}

.bg_yellow {
    background: #FFD166;
}

.bg_red {
    background: #F0466F;
}